In [18]:
import numpy as np
import pandas as pd

### 连接数据库

In [4]:
import pymysql
from sqlalchemy import create_engine
con = create_engine('mysql+pymysql://root:123456@127.0.0.1:3306/baiduindexdb')

### 读取省份ID与城市ID对照表

In [5]:
prov_id = pd.read_sql_table("province_id",con)
city_id = pd.read_sql_table("city_id",con)

D:\Anaconda3\envs\Python3.6\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 533")
  result = self._query(query)

### 读取百度指数数据

In [7]:
sql = "select * from baidu_index"
index = pd.read_sql(sql,con)

In [21]:
index.replace(to_replace=r'^\s*$',value=np.nan,regex=True,inplace=True)
index = index.dropna()

### 数据字段格式处理

In [26]:
index['date'] = pd.to_datetime(index['date']).dt.strftime('%Y-%m')
index['keyword'] = index['keyword'].apply(lambda x: x.strip(' \r\n\t').upper())
index['_index'] = index['_index'].astype(int)

D:\Anaconda3\envs\Python3.6\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
D:\Anaconda3\envs\Python3.6\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\Anaconda3\envs\Python3.6\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [27]:
new_index_mean = index.groupby(['keyword','date'])['_index'].mean()

### 读取省份数据

In [29]:
sql = "SELECT * FROM `province_index`"
prov_index = pd.read_sql(sql,con)

#### 字段处理

In [30]:
prov_index['date'] = prov_index['date'].apply(lambda x :x.split("|")[0]) # 取出日期前半部分
prov_index['date']=pd.to_datetime(prov_index['date']) # 格式化日期
prov_index['prov_index'] = prov_index['prov_index'].astype(int)
prov_index['date'] = prov_index['date'].dt.strftime('%Y-%m') # 将日期转换成月份
prov_index['keyword'] = prov_index['keyword'].apply(lambda x: x.strip(' \r\n\t').upper())

In [32]:
prov_index_sum = prov_index.groupby(['keyword','date'])['prov_index'].sum() # 各个车型每月搜索指数求和

In [33]:
prov_index_sum = prov_index_sum.reset_index()
prov_index_sum.head()

  keyword     date  prov_index
0       )  2019-01       43396
1   全托幼儿园  2019-01       20988
2     学前班  2019-01       25617
3   寄宿幼儿园  2019-01       15782

In [34]:
prov_index2 = pd.merge(prov_index,prov_index_sum,on=("keyword","date"))

In [36]:
new_index_mean = new_index_mean.reset_index()

In [37]:
prov_index2['pct'] = prov_index2['prov_index_x']/prov_index2['prov_index_y']

In [38]:
prov_index_final = pd.merge(prov_index2,new_index_mean,on=('keyword','date'))

In [40]:
prov_index_final['real_prov_index'] = prov_index_final['pct'] * prov_index_final['_index']
prov_index_final.head()

,id,keyword,prov,prov_index_x,date,prov_index_y,pct,_index,real_prov_index
0,177,全托幼儿园,913,1000,2019-01,20988,0.047646,194.387097,9.261821
1,178,全托幼儿园,917,320,2019-01,20988,0.015247,194.387097,2.963783
2,179,全托幼儿园,910,314,2019-01,20988,0.014961,194.387097,2.908212
3,180,全托幼儿园,901,238,2019-01,20988,0.011340,194.387097,2.204313
4,181,全托幼儿园,911,220,2019-01,20988,0.010482,194.387097,2.037601

In [41]:
prov_index_final = pd.merge(prov_index_final,prov_id,left_on="prov",right_on="id")

In [42]:
prov_index_final.to_excel('real_prov.xlsx')

### 根据省份处理城市

In [43]:
sql = "SELECT * FROM `city_index`"
city_index = pd.read_sql(sql,con)

#### 将时间分开，格式化，转成月份

In [45]:
city_index['date'] = city_index['date'].apply(lambda x :x.split("|")[0])
city_index['date']=pd.to_datetime(city_index['date'])
city_index['date'] = city_index['date'].dt.strftime('%B') # 将日期转换成月份

In [46]:
city_index['keyword'] = city_index['keyword'].apply(lambda x: x.strip(' \r\n\t').upper())
city_index_sum = city_index.groupby(['keyword','date','prov'])['city_index'].sum()
city_index_sum = city_index_sum.reset_index()

KeyError: 'prov'

In [ ]:
city_index2 = pd.merge(city_index,city_index_sum,on=("keyword","date","prov"))

In [ ]:
city_index2['pct'] = city_index2['city_index_x']/city_index2['city_index_y']

In [ ]:
city_index_final = pd.merge(city_index2,prov_index_final,on=('keyword','prov','date'))

In [ ]:
city_index_final["real_city_index"] = city_index_final['pct_x']*city_index_final['real_prov_index']

In [ ]:
city_index_final = pd.merge(city_index_final,city_id,left_on='city',right_on="id")

In [ ]:
city_index_final.to_excel('city_index_final.xlsx')